<footer class="intersection">
    <div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-6 holder"><h4>Tomorrow, Today.</h4>
          <p>Welcome to the future of connected vehicles.</p>
          <div class='bott'><h5>GM Confidential. Created by <a href="http://www.sylvainlabs.com" target="_blank">Sylvain Labs</a></h5></div>
        </div>
        <div class="cell medium-2">&nbsp;</div>
          <div class="cell medium-4">
          <h4>Learn More</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="safety.html">Safety</a></li>
            <li><a href="smart-nav.html">Smart Nav</a></li>
            <li><a href="family-fleet.html">Family Fleet</a></li>
            <li><a href="connected-home.html">Connected Home</a></li>
            <li><a href="productivity.html">Productivity</a></li>
            <li><a href="methodology.html">Our Process</a></li>
            <li><a href="#">Insight Report PDF</a></li>
          </ul></div>
      </div>
    </div>
  </footer>
