<footer>
    <div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-6 holder"><h4>Tomorrow, Today.</h4>
          <p>Welcome to the future of connected vehicles.</p>
          <div class='bott'><h5>GM Confidential. Created by <a href="http://www.sylvainlabs.com" target="_blank">Sylvain Labs</a></h5></div>
        </div>
        <div class="cell medium-2">&nbsp;</div>
          <div class="cell medium-4">
          <h4>Learn More</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Safety</a></li>
            <li><a href="#">Smart Nav</a></li>
            <li><a href="#">Family Fleet</a></li>
            <li><a href="#">Connected Home</a></li>
            <li><a href="#">Productivity</a></li>
            <li><a href="#">Our Process</a></li>
            <li><a href="#">Insight Report PDF</a></li>
          </ul></div>
      </div>
    </div>
  </footer>
