<nav role="navigation">
  <ul id="overlay-nav-menu" class="overlay-nav-menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="safety.html">Safety</a></li>
    <li><a href="smart-nav.html">Smart Nav</a></li>
    <li><a href="family-fleet.html">Family Fleet</a></li>
    <li><a href="connected-home.html">Connected Home</a></li>
    <li><a href="productivity.html">Productivity</a></li>
    <li><a href="methodology.html">Methodology</a></li>
    <li><a href="#">Insight Report Pdf</a></li>
  </ul>
  <a data-toggle-menu class="overlay-nav-menu-toggle" href="#overlay-nav-menu"><div class="menu-wrapper">
<div class="hamburger-menu"></div>
</div></a>
</nav>
