
<nav class="sticky-container" data-sticky-container>
<div class="sticky" data-sticky data-sticky-on="small">
  <ul class="vertical menu" data-magellan data-animation-easing="swing" data-animation-duration="1000">
    <li><div class="linespace"></div></li>
    <li><a href="#first" id="one"><div class="circle"></div></a></li>
    <li><a href="#second"><div class="circle"></div></a></li>
    <li><a href="#third"><div class="circle"></div></a></li>
    <li><a href="#fourth"><div class="circle"></div></a></li>
    <li><a href="#fifth"><div class="circle"></div></a></li>
    <li><a href="#sixth"><div class="circle"></div></a></li>

    <li><div class="linespace"></div></li>
    <li><a><i class="fi-volume" id="mute-audio"></i></a></li>

  </ul>
</div>
</nav>
