
  <nav class="sticky-container" data-sticky-container>
  <div class="sticky dotstyle dotstyle-fillup" data-sticky data-anchor="exampleId" data-sticky-on="large">
    <ul class="vertical menu" data-magellan data-animation-easing="swing" data-animation-duration="1000">
      <li class="tag">{{page}}</li>
      <li><div class="linespace"></div></li>
      <li><a id="one" href="#first"><div class="circle"></div></a></li>
      <li><a id="two" href="#second"><div class="circle"></div></a></li>
      <li><a id="three" href="#third"><div class="circle"></div></a></li>
      <li><div class="linespace"></div></li>
      <li><a><i class="fi-volume" id="mute-audio"></i></a></li>

    </ul>
  </div>
</nav>
