.container {
  height:886px;
  p {
    font-size:18px;
  }
background-color:$white;
}

.slide {
  height:886px;
  h2 {
    font-size:2.75rem;
  }
  .grid-container {
    padding-top:30vh;
  }
  h3 {
    font-family: 'Teko', Helvetica, Roboto, Arial, sans-serif;
    text-transform:uppercase;
  }
}

h1 {
  font-family: 'Teko', Helvetica, Roboto, Arial, sans-serif;
}


h2 {
  font-weight:200;
  line-height:1.2;
}

.hero {
  text-align:center;
  color: $white;
  background-color:$secondary-color;
.grid-container {
  padding-top:30vh;
}
}

.intro {
  background-color:#7971EB;
  color:$white;
  .grid-container{
    padding-top:30vh;
  }
}

audio {
  display:none;
}

.linespace {
  height:20vh;
  border-left: 1px solid $primary-color;
  margin: 1rem 0 1rem 1.4rem;
}

.sticky-container{
  display:none;

}

/*
//hide scroll bar but still scrollable
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent
}
*/
