$teko-font-family:'Teko', Helvetica, Roboto, Arial, sans-serif;

.container {
  height:886px;
  position:relative;
  p {
    font-size:18px;
  }
background-color:$white;
}

.slide {
  position:relative;
}
h2 {
  font-weight:200;
  line-height:1.2;
}

.hero {
  text-align:center;
  color: $white;
  background-color:$secondary-color;
  background-image: url('../img/HOME_BG_TEXTURE.png');
  background-repeat:no-repeat;
  background-size: cover;
.grid-container {
  h1 {
    font-family: $teko-font-family;
    font-size:2rem;
  }
}
}

.intro {
  background-color:#7971EB;
  color:$white;
  .grid-container{
    padding-top:30vh;
  }
}

audio {
  display:none;
}

.linespace {
  //height:20vh;
  border-left: 1px solid $dark-gray;
  margin: 1rem 0 1rem 1.4rem;
}

.sticky-container{
  display:none;
}
.sticky{
  width:50px !important;
}

.teche {
  position:fixed;
  font-family:$teko-font-family;
  text-transform: uppercase;
  color:$dark-gray;
  opacity:0.7;
  bottom:2rem;
  right:3rem;
  i{
margin-left:10px;
  }
}


.herodeep{
  padding-top:30vh;
}



.quote{
  text-align:center;
  h2 {
    font-family:$teko-font-family;
    background-color:$white;
    text-transform:uppercase;
    font-size:3rem;
    display:inline;
    line-height: 5rem;
  }
  .grid-container {
    padding-top:30vh;
  }
}



.safety{
    background-color:#FF6066;
    h2{
      color:#FF6066;
    }
}


.journey{
    background-color:#46ECFB;
    h2{
      color:#46ECFB;
    }
}

.family{
    background-color:#7971EB;
    h2{
      color:#7971EB;
    }
}

//methodology

.method {
  text-align:center;
  .slide .grid-container{
    padding-top:5vh;
    position:relative;
  }
  h2 {
    font-family:$teko-font-family;
    text-transform:uppercase;
    font-size:1.4rem;
  }
  p {
    padding-top:40vh;
  }
  .slide {
    position:relative;
  }
  .bgnum {
    z-index: 0;
    font-family: $teko-font-family;
    font-size: 49rem;
    font-weight:300;
    color: #002440;
    position: absolute;
    width:100%;
    display:block;
    margin:0 auto;
}
.grid-container{
  z-index: 2;
}
}

.olivia {
  background-image: url('../img/1_HERO.png');
  background-repeat:no-repeat;
  background-position:80% 20%;
}

.safeimg {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
}


//name at top of page

li.tag {
    transform: rotate(270deg);
    transform-origin: top left;
    margin-top: 100px;
    margin-left: 8px;
    margin-bottom: -20px;
    font-family: $teko-font-family;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $dark-gray;
    width:200px;
}

.quoteby {
    color: $white;
    font-family: $teko-font-family;
    font-size: 1.8rem;
    bottom: 0;
    position: absolute;
    margin-bottom: 5vh;
    display: block;
    width: 100%;
  }
/*
//hide scroll bar but still scrollable
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent
}
*/
