
.pintitle {
  position: fixed;
  left: 35vh;
}

.pt1 {
  color:$white;
  top:60vh;
  opacity:0;

}

.pt2 {
  color:$secondary-color;
  top:60vh;
  opacity:0;

}

.pt3 {
  color:$white;
  top:60vh;
  opacity:0;

}
