
.slide {
  height:886px;
  h2 {
    font-size:2.75rem;
  }
  .grid-container {
    padding-top:30vh;
  }
  h3 {
    font-family: $teko-font-family;
    text-transform:uppercase;
  }
}

.dark{
  .slide {
    background-color:$secondary-color;
    color:$white;
  }
}
